* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Kanit', sans-serif;
  }
  
  body {
      background-color: rgb(245, 245, 245);
  }

  h3{
    padding: 20px 0 0 20px;
  }
  
  .form-box {
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      /* background-color: white; */
      /* border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .form-box h3 {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .form-group {
      margin-bottom: 15px;
  }
  
  .form-group label {
      display: block;
      margin-bottom: 5px;
  }
  
  .form-group input {
      padding: 15px;
      border: none;
      width: 100%;
      margin-top: 5px;
      background-color: rgb(243, 243, 243);
      border-radius: 30px;
  }
  
  button {
      background-color: #1875a0;
      color: #fff;
      padding: 15px;
      border-radius: 30px;
      width: 100%;
      border: none;
      margin-top: 15px;
      cursor: pointer;
  }
  
  button:hover {
      background-color: #145a77;
  }
  
  @media screen and (max-width: 700px) {
      .content {
          width: 90%;
      }
  }
  